.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  min-width: 400px;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}

.chat_header {
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(160, 160, 160);
  background-color: lightgray;
}

.chat_header > h2 {
  font-size: 18px;
}

.chat_message {
  flex: 1;
  overflow: scroll;
}

.chat_message::-webkit-scrollbar {
  display: none; /* Chrome */
}

.chat_message {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

.chat_input {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  border-top: 1px solid rgb(160, 160, 160);
  background-color: lightgrey;
}

.chat_input > form {
  flex: 1;
  margin-right: 10px;
}

.chat_input > form > input {
  width: 98%;
  outline-width: 0;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px;
}

.chat_input > form > button {
  display: none;
}
