.message {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  justify-content: space-between;
  margin: 20px 20px 40px 20px;
}

.message > .message_photo {
  order: 0;
}

.message > p {
  background-color: rgb(160, 160, 160);
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 20px 10px 10px;
  margin-right: auto;
}

.message > .message_date {
  color: rgb(70, 70, 70);
  position: absolute;
  font-size: 12px;
  bottom: -10px;
  right: 0;
  width: max-content;
}

.message > .message_name {
  color: rgb(70, 70, 70);
  position: absolute;
  font-size: 12px;
  top: -10px;
  right: 0;
  width: max-content;
}

.message_sender {
  margin-left: auto;
}

.message_sender > .message_photo {
  order: 1;
}

.message_sender > p {
  background-color: rgb(255, 255, 255);
  margin: 10px 10px 10px 20px;
}

.message_sender > .message_date {
  left: 20px;
}

.message_sender > .message_name {
  left: 20px;
}
