.sidebarchat {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(160, 160, 160);
  cursor: pointer;
}

.sidebarchat:hover {
  background-color: rgb(160, 160, 160);
}

.sidebarchat_info {
  margin-left: 20px;
  position: relative;
  width: 100%;
}

.sidebarchat_info > small {
  position: absolute;
  top: 5px;
  right: 0;
}

.sidebarchat_info > h2 {
  font-size: 18px;
}
