.sidebar {
  flex: 0.25;
  min-width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-right: 1px solid rgb(160, 160, 160);
}

.sidebar_header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
}

.sidebar_avatar {
  cursor: pointer;
  margin-right: 20px;
}

.sidebar_input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(160, 160, 160);
  color: rgb(70, 70, 70);
  border-radius: 20px;
  margin-right: 20px;
}

.sidebar_input > input {
  border: none;
  background: transparent;
  outline-width: 0;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.sidebar_input > input::placeholder {
  color: rgb(70, 70, 70);
  font-size: 14px;
}

.sidebar_search {
  padding-left: 10px;
}

.sidebar_chats {
  overflow: scroll;
}

.sidebar_chats::-webkit-scrollbar {
  display: none; /* Chrome */
}

.sidebar_chats {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}
