.signin {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(160, 160, 160);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin_logo {
  display: flex;
}

.logo_1 {
  font-weight: 800;
  font-size: 80px;
  color: red;
}

.logo_2 {
  font-weight: 800;
  font-size: 80px;
}

.logo_3 {
  font-weight: 800;
  font-size: 80px;
  color: white;
}

.logo_4 {
  font-weight: 700;
  font-size: 30px;
}

.signin > button {
  width: 300px;
  background-color: rgb(70, 70, 70);
  color: white;
  font-weight: 500;
}

.signin > button:hover {
  background-color: rgb(120, 120, 120);
}
